<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<div th:replace="common/header :: navbar"></div>
<div class="container">
	<div class="row">
		<h1>Your account</h1>
		<h3><span>Welcome back, </span><span th:text="${user.username}"></span></h3>
	</div>

	<div class="row">
		<!-- nav tabs -->
		<ul class="nav nav-tabs">
			<li th:classappends="${classActiveOrders}? 'active'"><a
				href="#tab-1" data-toggle="tab"> <span
					style="color: deepskyblue">Orders</span>
			</a></li>

			<li th:classappends="${classActiveBilling}? 'active'"><a
				href="#tab-1" data-toggle="tab"> <span
					style="color: deepskyblue">Billing</span>
			</a></li>

			<li th:classappends="${classActiveShipping}? 'active'"><a
				href="#tab-1" data-toggle="tab"> <span
					style="color: deepskyblue">Shipping</span>
			</a></li>

			<li th:classappends="${classActiveEdit}? 'active'"><a
				href="#tab-1" data-toggle="tab"> <span
					style="color: deepskyblue">Edit</span>
			</a></li>

		</ul>


		<!-- tab panels -->
		<div class="tab-content">
			<div class="tab-pane fade" id="tab-1">
				<div class="panel panel-default" style="border: none;">
					<div class="panel-body"
						style="background-color: #ededed; margin-top: 20px;">
						<form th:action="@{/update-info}" mehtod="post">
							<input type="hidden" name="id" th-value="${user.id}">
							<div class="bg-info" th:if="${updateUserInfo}">User info
								updated.</div>

							<div class="form-group">
								<div class="row">
									<div class="col-xs-6">
										<input type='text' class="form-control" id="firstName"
											name="firstName" placeholder="First name"
											th:value="${user.firstName}" /> 
										<input type='text'
											class="form-control" id="lastName" name="lastName"
											placeholder="Last name" th:value="${user.lastName}" />
									</div>
								</div>
							</div>

							<div class="form-group">
								<input type='text' class="form-control" id="username"
									name="username" placeholder="username"
									th:value="${user.username}" />
							</div>
							
							<div class="form-group">
								<input type='password' class="form-control" id="currentPass"
									name="currentPass" placeholder="Current Password"
									th:value="${password}" />
							</div>
							<p>Enter your current password to change password or email.</p>
							
							<div class="form-group">
								<input type='email' class="form-control" id="email"
									name="email" placeholder="email"
									th:value="${user.email}" />
							</div>
							
							<div class="form-group">
								<input type='password' class="form-control" id="newPass"
									name="newPass" placeholder="New Password" />
							</div>
							
							<div class="form-group">
								<input type='password' class="form-control" id="confirmPass"
									placeholder="Confirm new password" />
							</div>

							<button type="submit" class="btn btn-primary"></button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- end of tabs -->
	</div>
</div>
<!-- end of container -->
</body>
</html>