<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<div th:replace="common/header :: navbar"></div>
<div class="container">

	<h3>All Books</h3>

	<div class="row">
		<div th:if="${emptyList}">Sorry, no results found. Please try a
			different search.</div>

		<table id="bookList">
			<thead>
				<tr></tr>
			</thead>
			<tbody>
				<tr class="book-item" data-th-each="book: ${bookList}">
					<td>
						<div th:if="${book != null}">
							<div class="row">
								<div class="col-xs-3">
									<a th:href="@{/book/}+${book.id}"> <img
										class="img-responsive shelf-book"
										th:src="#{admin-path}+@{/images/books/}+${book.id}+'.png'">
									</a>
								</div>

								<div class="col-xs-9">
									<a th:href="@{book/}+${book.id}">
										<h3 th:text="${book.title}"></h3>
									</a>
									<h4 th:text="${book.author}"></h4>

									<span
										style="font-size: x-large; text-decoration: line-through;">$<span
										th:text="${#numbers.formatDecimal(book.listPrice, 0, 'COMMA', 2, 'POINT')}"></span></span>

									<span style="font-size: x-large; color: #db3208;">$<span
										th:text="${#numbers.formatDecimal(book.ourPrice, 0, 'COMMA', 2, 'POINT')}"></span></span>

									<p th:text="${#strings.abbreviate(book.description, 500)}"></p>
									<span>Published <span th:text="${book.publicationDate}"></span></span>
									<span
										th:text="${#strings.capitalize(book.format) + ' edition ('}"></span>
									<span th:text="${book.numberOfPages}+' pages)'"></span>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>

		</table>
	</div>

</div>
<!-- end of container -->
</body>
</html>